<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>全局配置 - 斗罗大陆OL</title>
<meta name="keywords" content="斗罗大陆OL,群大型网络RPG文字游戏">
<meta name="description" content="斗罗大陆OL是一个基于Java/Python等语言写的高拓展性群娱乐游戏。">
<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-touch-fullscreen" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="default">
<link rel="stylesheet" type="text/css" href="css/materialdesignicons.min.css">
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<!--tags插件css-->
<link rel="stylesheet" type="text/css" href="js/jquery-tagsinput/jquery.tagsinput.min.css">
<link rel="stylesheet" type="text/css" href="css/style.min.css">
</head>
  
<body>
<div class="lyear-layout-web">
  <div class="lyear-layout-container">
    <div id="header" th:include="common/header :: common_header(${title},${page},${page_tab})"></div>

    <!--页面主要内容-->
    <main class="lyear-layout-content">
	
      <div class="container-fluid">

        <div class="row">

          <div class="col-lg-12">
            <div class="card">
              <header class="card-header"><div class="card-title">全局配置</div></header>
              <div class="card-body">

                <ul class="nav nav-tabs">
                  <li class="nav-item">
                    <button class="nav-link active" id="basic-config" data-bs-toggle="tab" data-bs-target="#config" type="button" >基本</button>
                  </li>
                  <li class="nav-item">
                    <button class="nav-link" id="basic-sys" data-bs-toggle="tab" data-bs-target="#sys" type="button">授权</button>
                  </li>
                  <li class="nav-item">
                    <button class="nav-link" id="basic-upload" data-bs-toggle="tab" data-bs-target="#upload" type="button">超管</button>
                  </li>
                </ul>

                <form action="#!" method="post" name="edit-form" class="edit-form">
                  <div class="tab-content">
                    <div class="tab-pane fade show active" id="config" aria-labelledby="basic-config">

                      <div class="mb-3">
                        <label for="Init_Map" class="form-label">初始地图</label>
                        <input class="form-control" type="text" id="Init_Map" name="Init_Map" value="圣魂村" placeholder="请输入地图名">
                      </div>
                      <div class="mb-3">
                        <label for="exp_up" class="form-label">经验增幅</label>
                        <input class="form-control" type="number" id="exp_up" name="exp_up" value="2" placeholder="请输入倍率">
                      </div>
                      <div class="mb-3">
                        <label for="max_co" class="form-label">体力上限</label>
                        <input class="form-control" type="number" id="max_co" name="max_co" value="250" placeholder="请输入体力上限">
                      </div>
                      <div class="mb-3">
                        <label for="twin" class="form-label">双生武魂概率</label>
                        <input class="form-control" type="number" id="twin" name="twin" value="70" placeholder="请输入概率">
                        <small class="help-block">概率填写说明：<code>上限100，下限0，百分比不要带%</code></small>
                      </div>
                      <div class="mb-3">
                        <label for="no_fight" class="form-label">全体禁止战斗</label>
                        <div class="controls-box clearfix">
                          <div class="form-check form-check-inline">
                            <input type="radio" id="no_fight_1" name="no_fight" class="form-check-input" value="0" checked="">
                            <label class="form-check-label" for="no_fight_1">否</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input type="radio" id="no_fight_2" name="no_fight" class="form-check-input" value="1">
                            <label class="form-check-label" for="no_fight_2">是</label>
                          </div>
                        </div>
                      </div>
                      <div class="mb-3">
                        <label for="revive_currency" class="form-label">复活币种</label>
                        <input class="form-control" type="text" id="revive_currency" name="revive_currency" value="联邦币" placeholder="请输入币种">
                        <small class="help-block">复活需要消耗的货币名称</small>
                      </div>
                      <div class="mb-3">
                        <label for="question_max_player" class="form-label">答题上限</label>
                        <input class="form-control" type="number" id="question_max_player" name="question_max_player" value="5" placeholder="请输入人数上限">
                        <small class="help-block">抢答人数上限</small>
                      </div>
                      <div>
                        <button type="submit" class="btn btn-primary me-1">确 定</button>
                        <button type="button" class="btn btn-default" onclick="javascript:history.back(-1);return false;">返 回</button>
                      </div>
                    </div>
                    <div class="tab-pane fade" id="sys" aria-labelledby="basic-sys">
                      <div class="card-btns mb-2-5">
                        <a class="btn btn-success me-1" href="#!"><i class="mdi mdi-check"></i> 启用</a>
                        <a class="btn btn-warning me-1" href="#!"><i class="mdi mdi-block-helper"></i> 禁用</a>
                      </div>
                      <div class="table-responsive">
                        <table class="table table-bordered">
                          <thead>
                            <tr>
                              <th>
                                <div class="form-check">
                                  <input class="form-check-input" type="checkbox" id="check-all">
                                  <label class="form-check-label" for="check-all"></label>
                                </div>
                              </th>
                              <th></th>
                              <th>群号</th>
                              <th>群名</th>
                              <th>状态</th>
                              <th>操作</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>
                                <div class="form-check">
                                  <input type="checkbox" class="form-check-input ids" name="ids[]" value="1" id="ids-1">
                                  <label class="form-check-label" for="ids-1"></label>
                                </div>
                              </td>
                              <td><img class="avatar-md rounded-top" src="https://p.qlogo.cn/gh/746339543/746339543/100" alt="" /></td>
                              <td>123456789</td>
                              <td>群1</td>
                              <td><font class="text-success">open</font></td>
                              <td>
                                <div class="btn-group btn-group-sm">
                                  <a class="btn btn-success me-1" href="#!" data-bs-toggle="tooltip" title="开启"><i class="mdi mdi-check"></i></a>
                                  <a class="btn btn btn-danger me-1" href="#!" data-bs-toggle="tooltip" title="关闭"><i class="mdi mdi-block-helper"></i></a>
                                </div>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <div class="form-check">
                                  <input type="checkbox" class="form-check-input ids" name="ids[]" value="2" id="ids-2">
                                  <label class="form-check-label" for="ids-2"></label>
                                </div>
                              </td>
                              <td><img class="avatar-md rounded-top" src="https://p.qlogo.cn/gh/746339543/746339543/100" alt="" /></td>
                              <td>7894561223</td>
                              <td>群2</td>
                              <td><font class="text-danger">close</font></td>
                              <td>
                                <div class="btn-group btn-group-sm">
                                  <a class="btn btn-success me-1" href="#!" data-bs-toggle="tooltip" title="开启"><i class="mdi mdi-check"></i></a>
                                  <a class="btn btn btn-danger me-1" href="#!" data-bs-toggle="tooltip" title="关闭"><i class="mdi mdi-block-helper"></i></a>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <ul class="pagination">
                        <li class="page-item disabled"><span class="page-link">上一页</span></li>
                        <li class="page-item active"><span class="page-link">1</span></li>
                        <li class="page-item"><a class="page-link" href="#1">2</a></li>
                        <li class="page-item"><a class="page-link" href="#1">3</a></li>
                        <li class="page-item"><a class="page-link" href="#1">4</a></li>
                        <li class="page-item"><a class="page-link" href="#1">5</a></li>
                        <li class="page-item disabled"><span class="page-link">...</span></li>
                        <li class="page-item"><a class="page-link" href="#!">14452</a></li>
                        <li class="page-item"><a class="page-link" href="#!">14453</a></li>
                        <li class="page-item"><a class="page-link" href="#!">下一页</a></li>
                      </ul>
                    </div>
                    <div class="tab-pane fade" id="upload" aria-labelledby="basic-upload">
                      <div class="card-btns mb-2-5">
                        <a class="btn btn-primary me-1" href="#!"><i class="mdi mdi-plus"></i> 新增</a>
                        <a class="btn btn-danger" href="#!"><i class="mdi mdi-window-close"></i> 删除</a>
                      </div>
                      <div class="table-responsive">
                        <table class="table table-bordered">
                          <thead>
                            <tr>
                              <th>
                                <div class="form-check">
                                  <input class="form-check-input" type="checkbox" id="check-all">
                                  <label class="form-check-label" for="check-all"></label>
                                </div>
                              </th>
                              <th></th>
                              <th>QQ</th>
                              <th>操作</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>
                                <div class="form-check">
                                  <input type="checkbox" class="form-check-input ids" name="ids[]" value="1" id="ids-1">
                                  <label class="form-check-label" for="ids-1"></label>
                                </div>
                              </td>
                              <td><img class="avatar-md rounded-top" src="https://q1.qlogo.cn/g?b=qq&nk=434658198&s=100" alt="" /></td>
                              <td>123456789</td>
                              <td>
                                <div class="btn-group btn-group-sm">
                                  <a class="btn btn-warning" href="#!" data-bs-toggle="tooltip" title="编辑"><i class="mdi mdi-pencil"></i></a>
                                  <a class="btn btn btn-danger me-1" href="#!" data-bs-toggle="tooltip" title="删除"><i class="mdi mdi-window-close"></i></a>
                                </div>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <div class="form-check">
                                  <input type="checkbox" class="form-check-input ids" name="ids[]" value="2" id="ids-2">
                                  <label class="form-check-label" for="ids-2"></label>
                                </div>
                              </td>
                              <td><img class="avatar-md rounded-top" src="https://q1.qlogo.cn/g?b=qq&nk=434658198&s=100" alt="" /></td>
                              <td>7894561223</td>
                              <td>
                                <div class="btn-group btn-group-sm">
                                  <a class="btn btn-warning" href="#!" data-bs-toggle="tooltip" title="编辑"><i class="mdi mdi-pencil"></i></a>
                                  <a class="btn btn btn-danger me-1" href="#!" data-bs-toggle="tooltip" title="删除"><i class="mdi mdi-window-close"></i></a>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <ul class="pagination">
                        <li class="page-item disabled"><span class="page-link">上一页</span></li>
                        <li class="page-item active"><span class="page-link">1</span></li>
                        <li class="page-item"><a class="page-link" href="#1">2</a></li>
                        <li class="page-item"><a class="page-link" href="#1">3</a></li>
                        <li class="page-item"><a class="page-link" href="#1">4</a></li>
                        <li class="page-item"><a class="page-link" href="#1">5</a></li>
                        <li class="page-item disabled"><span class="page-link">...</span></li>
                        <li class="page-item"><a class="page-link" href="#!">14452</a></li>
                        <li class="page-item"><a class="page-link" href="#!">14453</a></li>
                        <li class="page-item"><a class="page-link" href="#!">下一页</a></li>
                      </ul>
                    </div>
                  </div>
                </form>

              </div>
            </div>
          </div>

        </div>

      </div>    
	
	</main>
    <!--End 页面主要内容-->
  </div>
</div>

<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/popper.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/perfect-scrollbar.min.js"></script>
<script type="text/javascript" src="js/jquery.cookie.min.js"></script>
<!--tags插件-->
<script type="text/javascript" src="js/jquery-tagsinput/jquery.tagsinput.min.js"></script>
<script type="text/javascript" src="js/main.min.js"></script>
</body>
</html>